<!DOCTYPE HTML>
<html lang="eng">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8">
	<title>Gallery</title>
	<style type="text/css" media="screen">
	.container {
		margin: 0 3%;
		}
		
	body {
		background: url(fabric_plaid.png);
		/*image credt: James Basoo. Downloaded from subtlepatters.com*/
	}
	
	article {
		border: 2px solid #000;
		width: 200px;
		padding: 10px;
		margin: 10px;
		float: left;
		background: #C1FFC1;
		opacity: .8;
		}
		
	footer {
		clear: both;
	}
	</style>
</head>	
<body>
	<div class="container">
		<header>
			<h1>This is a header</h1>
		</header>
		<section>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
			<article>
			<h2>Title</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget commodo urna, nec sagittis eros. In venenatis, lorem eget lobortis luctus, urna lacus pellentesque augue, a dignissim mauris urna rutrum erat. Nullam vel pulvinar risus, lacinia pellentesque nulla. Mauris feugiat mi eget congue laoreet.</p>
			</article>
		</section>
		<footer>
			<p>This is a footer</p>
		</footer>
	</div>
</body>
</html>